<h1>Flats</h1>
<ul>
  <% @flats.each do |flat| %>
    <li><srtong><%= link_to flat['name'], flat_path(flat['id']) %> </srtong> - <%= flat['priceCurrency'] %> <%= flat['price'] %></li>
  <% end %>
</ul>
